<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Hello World</title>
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        #sidebar {
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            z-index: 999;
            background: #7386D5;
            color: #fff;
            transition: all 0.3s;
            padding-top: 20px;
        }

        #content {
            padding-top: 20px;
        }

    </style>

    </head>
    <body>
        <div class="wrapper">
            <nav id="sidebar" class="col-md-2">
                <button type="button" class="btn btn-success btn-lg btn-block">New customer</button>
            </nav>
            <div id="content" class="offset-md-2 col-md-10">
                <div id="list_customer">
                </div>
            </div>
        </div>

        <script type="text/babel">

            class List_custommer extends React.Component {

                constructor(props) {
                    super(props);

                    this.state = {
                        isNotsupprt : false,
                        listCustomer : [
                            {
                                type : 'A',
                                amount : 3
                            },
                            {
                                type : 'A',
                                amount : 2
                            }
                        ]
                    };
                    if (typeof(Storage) !== "undefined") {
                        
                    } else {
                        this.state.isNotsupprt = true;
                    }
                }

                listItem(data,i) {
                    return (
                        <li className="list-group-item" key={i}>
                            {data.amount} People(s) : Table {data.type}
                            <button type="button" className="btn btn-primary btn-sm" style={{ marginLeft : '8px'}}>Check Bill</button>
                        </li>
                    );
                }
                
                render() {
                    if (this.state.isNotsupprt) {
                        return (
                            <div className="jumbotron jumbotron-fluid">
                                <div className="container">
                                    <h1 className="display-4">Sorry Guy!</h1>
                                    <p className="lead">This site not supported.</p>
                                </div>
                            </div>
                        );
                    }
                    return (
                        <ul className="list-group">
                            <li className="list-group-item active">List of table</li>
                            {this.state.listCustomer.map((data,i) => this.listItem(data,i))}
                        </ul>
                    );
                }
            }

            ReactDOM.render(
                <List_custommer />,
                document.getElementById('list_customer')
            );

        </script>
    </body>
</html>